<%- include("header") -%>
    <title>Edit Book Info</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">

    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <%- include("flash") -%>
                <br>

                <div>
                    <h1>Edit :
                        <%=book.Book_name%>
                    </h1>
                    <form action="/editbookinfo/<%=book._id%>?_method=PUT" method="POST">

                        <div class="form-group">
                            <label for="Dept">Department with which book is indentified</label>
                            <select name="editedbook[Dept]" id="Dept" class="form-control">
                                <option disabled selected value>--Select Department--</option>
                                <option value="CSE">CSE</option>
                                <option value="ISE">ISE</option>
                                <option value="ECE">ECE</option>
                                <option value="EEE">EEE</option>
                                <option value="EIE">EIE</option>
                                <option value="Mechanical">Mechanical</option>
                                <option value="Civil">Civil</option>
                                <option value="Biotechnology">Biotechnology</option>
                                <option value="Mathematics">Mathematics</option>
                                <option value="Physics">Physics</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sub">Subject</label>
                            <input type="text" name="editedbook[Subject]" class="form-control" id="sub" placeholder="subject" value="<%= book.Subject%>">
                        </div>

                        <div class="form-group ">
                            <label for="edition">Edition</label>
                            <input type="third" name="editedbook[Edition]" class="form-control " id="edition" placeholder="edition" value="<%=book.edition%>">
                        </div>

                        <div class="form-group">
                            <label for="price">Price you wish to sell in Rupees *</label>
                            <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57)|| event.charCode==46' name="editedbook[Price]" class="form-control" id="price" placeholder="price" required title="Please enter price" value="<%=book.Price%>">
                        </div>

                        <button class="btn btn-primary " type="submit ">Edit</button>
                    </form>
                </div>
                </div>
                <%- include("footer") -%>