<%- include("header") -%>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">

    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <%- include("flash") -%>
                <br>
                <div class="bottomright">
                    <a href="/newbookentry" class="btn btn-primary"> <button class="abc">+</button> Add a new book</a>
                </div>

                <div class="row">
                    <% books.forEach(function(book){%>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="img-thumbnail">
                                <h6 class="bookname">
                                    <strong><%=book.Book_name%></strong>
                                </h6>
                                <h6 class="authorname">
                                    <%=book.Author%>
                                </h6>
                                <hr>
                                <img class="img-responsive" src="data:<%=book.Cover_page_photo.contentType%>;base64, 
                     <%=book.Cover_page_photo.data.toString('base64')%>">
                                <div class="caption">
                                    <%if(!book.Request_status){%>
                                        <a class="btn btn-info" href="/bookinfo/<%=book._id%>">More info</a>
                                        <%} else {%>
                                            <a class="btn btn-danger" href="#">Book already requested</a>
                                            <%}%>
                                </div>
                            </div>
                        </div>
                        <% });%>
                </div>

                </div>
                <%- include("footer") -%>