<%- include("header") -%>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">

    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <%- include("flash") -%>
                <br>
                <%if(currentUser){%>
                    <div class="bottomright">
                        <a href="/newbookentry" class="btn btn-primary"> <button class="abc">+</button> Add a new book</a>
                    </div>
                    <%}%>

                        <div class="filterdiv">
                            <h4 style="color: black">Filter by :</h4>
                            <form action="#" id="filterform">
                                <div class="form-group">
                                    <label for="bookname">Book Name</label>
                                    <input type="text" name="bookname" class="form-control" id="bookname" placeholder="Book name" value="<%=query.Book_name%>">
                                </div>

                                <div class="form-group">
                                    <label for="Dept">Department</label>
                                    <select name="Dept" id="Dept" class="form-control">
                                        <option disabled selected value>--Select Department--</option>
                                        <option value="CSE">CSE</option>
                                        <option value="ISE">ISE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="EIE">EIE</option>
                                        <option value="Mechanical">Mechanical</option>
                                        <option value="Civil">Civil</option>
                                        <option value="Biotechnology">Biotechnology</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Physics">Physics</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="Subject">Subject</label>
                                    <input type="text" name="Subject" class="form-control" id="Subject" placeholder="subject" value="<%=query.Subject%>">
                                </div>


                                <div class="form-group">
                                    <label for="Author">Author </label>
                                    <input type="text" name="Author" class="form-control" id="Author" placeholder="author" value="<%=query.Author%>">
                                </div>


                                <div class="form-group">
                                    <label for="Edition">Edition</label>
                                    <input type="text" name="Edition" class="form-control" id="Edition" placeholder="edition" value="<%=query.Edition%>">
                                </div>

                            </form>
                            <button class="btn btn-primary" id="filterbtn"><i class="fas fa-filter" style="color: white;"></i> Filter</button>
                            <a href="/home" class="btn btn-primary">Clear Filters</a>
                        </div>
                        <div class="row">
                            <% books.forEach(function(book){%>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="img-thumbnail">
                                        <h6 class="bookname">
                                            <strong><%=book.Book_name%></strong>
                                        </h6>
                                        <h6 class="authorname">
                                            <%=book.Author%>
                                        </h6>
                                        <hr>
                                        <img class="img-responsive" src="data:<%=book.Cover_page_photo.contentType%>;base64, 
                     <%=book.Cover_page_photo.data.toString('base64')%>">
                                        <div class="caption">
                                            <%if(!book.Request_status){%>
                                                <a class="btn btn-info" href="/bookinfo/<%=book._id%>">More info</a>
                                                <%} else {%>
                                                    <a class="btn btn-danger" href="#">Book already requested</a>
                                                    <%}%>
                                        </div>
                                    </div>
                                </div>
                                <% });%>
                        </div>

                        </div>
                        <script src="/scripts/home.js"></script>
                        <%- include("footer") -%>