<%- include("header") -%>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
    <style>
        .bottomright {
            position: fixed;
            bottom: 0px;
            right: 0px;
            padding: 20px;
            z-index: 10;
        }
        
        .abc {
            min-height: 30px;
            width: 40px;
            border-radius: 50%;
            cursor: pointer;
            border-color: transparent;
            background-color: #fff;
            color: blue;
            font-size: 30px;
            padding-bottom: 6px;
            border-width: 0;
        }
    </style>
    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <%- include("flash") -%>
                <br>
                <div class="bottomright">
                    <a href="/newbookentry" class="btn btn-primary"> <button class="abc">+</button> Add a new book</a>
                </div>


                <div class="row text-center" style="display:flex; flex-wrap:wrap;">
                    <div class="col-lg-6 col-md-12 col-sm-6 img-thumbnail">
                        <img class="img-responsive photo" src="data:<%=user.User_Photo.contentType%>;base64, 
                     <%=user.User_Photo.data.toString('base64')%>">
                        <a class="btn btn-info" href="/editprofilepic" style="margin-top: 5px;">Edit Profile Photo</a>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-6 userinfo img-thumbnail">
                        <h1>
                            <%=user.Name%>
                        </h1>
                        <h3>USN :
                            <%=user.username%>
                        </h3>
                        <h3>Mobile No :
                            <%=user.Ph_No%>
                        </h3>
                        <h3>Address :
                            <%=user.Address%>
                        </h3>
                        <h3>Email :
                            <%=user.Email%>
                        </h3>
                        <br>
                        <a class="btn btn-warning" href="/editprofileinfo">Edit info</a>
                    </div>
                </div>

                <a href="/youruploads" class="btn btn-primary"><i class="fas fa-arrow-circle-up"></i>  Your Current Uploads%></a>
                <a href="/yourrequests" class="btn btn-primary">Your Current Requests%></a>
                </div>
                <%- include("footer") -%>