<%- include("header") -%>
    <title>Show</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/showpage.css">
    <link rel="stylesheet" href="/stylesheets/specialbuttons.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <%- include("flash") -%>

                <a class="btn btn-primary" href="/home" style="margin-bottom: 15px;">Back</a>

                <h1 class="bookname">
                    <strong><%=book.Book_name%></strong>
                </h1>

                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 img-thumbnail">
                        <img class="img-responsive photo" src="data:<%=book.Cover_page_photo.contentType%>;base64, 
                         <%=book.Cover_page_photo.data.toString('base64')%>">
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 img-thumbnail userbookinfo" style="margin-left: 5px;">
                        <h4><strong>Book details</strong></h4>
                        <h4>
                            Author :
                            <%=book.Author%>
                        </h4>
                        <% if(book.Dept){%>
                            <h4>
                                Dept :
                                <%=book.Dept%>
                            </h4>
                            <%}
                        
                        if(book.Subject){%>
                                <h4>
                                    Sub :
                                    <%=book.Subject%>
                                </h4>
                                <%} if(book.Edition){%>
                                    <h4>
                                        Edition :
                                        <%=book.Edition%>
                                    </h4>
                                    <%}%>

                                        <hr>

                                        <h4><strong>Uploaded by</strong>
                                        </h4>

                                        <h4>USN :
                                            <%= user.username%>
                                        </h4>
                                        <h4>Name :
                                            <%= user.Name%>
                                        </h4>

                                        <h4><strong>Uploaded on : </strong>
                                            <%= book.Upload_date.toDateString() %>
                                        </h4>
                                        <h4>Price proposed :
                                            <%=book.Price%>
                                        </h4>
                                        <hr>
                                        <div class="caption">
                                            <% if(currentUser){ if (book.UUSN===currentUser.username){ %>
                                                <button class="btn btn-warning" id="editbtn">Edit info</button>
                                                <button class='btn btn-danger' style="display: inline;" id="deletebtn">Delete</button>
                                                <form style="display: none;" id="deleteform" action="/deletebookinfo/<%=book._id%>?_method=DELETE" method="POST"></form>

                                                <div id="editconfirm" class="extras">
                                                    <form action="/editbookinfo/<%=book._id%>?_method=PUT" method="POST">
                                                        <div class="form-group">
                                                            <label for="Deptselect">Department</label>
                                                            <select name="Dept" id="Deptselect" class="form-control">
                                                                <option value>--Select Department--</option>
                                                                <option value="CSE">CSE</option>
                                                                <option value="ISE">ISE</option>
                                                                <option value="ECE">ECE</option>
                                                                <option value="EEE">EEE</option>
                                                                <option value="EIE">EIE</option>
                                                                <option value="Mechanical">Mechanical</option>
                                                                <option value="Civil">Civil</option>
                                                                <option value="Biotechnology">Biotechnology</option>
                                                                <option value="Mathematics">Mathematics</option>
                                                                <option value="Physics">Physics</option>
                                                            </select>
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="Subject">Subject</label>
                                                            <input type="text" name="Subject" class="form-control" id="Subject" placeholder="subject" value="<%=book.Subject%>">
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="Author">Author *</label>
                                                            <input type="text" name="Author" class="form-control" id="Author" placeholder="author" required value="<%=book.Author%>">
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="Edition">Edition</label>
                                                            <input type="text" name="Edition" class="form-control" id="Edition" placeholder="edition" value="<%=book.Edition%>">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="Price">Price *</label>
                                                            <input type="number" name="Price" class="form-control" id="Price" placeholder="Price" required title="Please enter the price" value="<%=book.Price%>">
                                                        </div>

                                                        <button class="btn btn-primary" type="submit" id="edityes" style="float: right;">Edit</button>
                                                    </form>
                                                    <button id="editno" class="btn btn-secondary" style="margin-right: 5px; float:right;">Cancel</button>
                                                </div>
                                                <div id="deleteconfirm" class="extras">
                                                    <p>Do you want to delete this item?</p>
                                                    <button class="transparentbtn" id="deleteno">No</button>
                                                    <button id="deleteyes" class="transparentbtn">Yes</button>
                                                </div>

                                                <% } else{%>
                                                    <form style="display: none;" id="requestform" action="/requestbook/<%=book._id%>" method="GET"></form>
                                                    <%if(!book.Request_status){%>
                                                        <a id="requestbtn" class="btn btn-success" style="color: white;">Request</a>
                                                        <%}%>

                                                            <a href="#" class="btn btn-info" id="feedbackbtn">Feedback</a>

                                                            <div id="requestconfirm" class="extras">
                                                                <p>Confirm your request</p>
                                                                <button class="transparentbtn" id="requestno">cancel</button>
                                                                <button id="requestyes" class="transparentbtn">Yes</button>
                                                            </div>

                                                            <div id="feedbackconfirm" class="extras">
                                                                <form action="/feedback" method="POST">
                                                                    <p>Feedback</p>
                                                                    <textarea rows="5" cols="25" placeholder="add your feedback here" id="feedbacktext" name="feedbacktext"></textarea>
                                                                    <input type="hidden" name="bookid" value="<%=book._id%>">
                                                                    <br>
                                                                    <button id="feedbackyes" class="btn btn-success" type="submit" style="float: right;">Submit</button>
                                                                </form>
                                                                <button class="btn btn-secondary" id="feedbackno" style="float: right; margin-right: 5px;">Cancel</button>
                                                            </div>

                                                            <%}
                                            }else{%>
                                                                <h4>You need to be logged in to be able to perform the actions</h4>
                                                                <%}%>
                                        </div>
                    </div>

                </div>
                </div>

                <script src="/scripts/show.js"></script>
                <%- include("footer") -%>