<%- include("header") -%>
    <title>Uploads</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <%- include("flash") -%>
                <br>
                <%if(books.length==0){%>
                    <h1>You do not have any requests currently</h1>
                    <%}else{%>
                        <div class="row">
                            <% books.forEach(function(book){%>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="img-thumbnail">
                                        <h6 class="bookname">
                                            <strong><%=book.Book_name%></strong>
                                        </h6>
                                        <h6 class="authorname">
                                            <%=book.Author%>
                                        </h6>
                                        <hr>
                                        <img class="img-responsive" src="data:<%=book.Cover_page_photo.contentType%>;base64, 
                 <%=book.Cover_page_photo.data.toString('base64')%>">
                                        <hr>
                                        <h4 style="color: black;">Your request has not yet been acknowledged by the seller</h4>
                                    </div>
                                </div>
                                <% });%>
                        </div>
                        <%}%>
                            <a href="/profile" class="btn btn-primary" style="margin-top: 10px;">Back</a>

                            </div>
                            <%- include("footer") -%>